.resources-body-container{
  display: flex;
  flex-direction: column;
  /* height of screen minus nav bar to remove scroll bar*/
  min-height: calc(100vh - 75px);
  justify-content: flex-start;
  align-items: center;
}

/* remember for smaller computers will need scroll */
.content-container{
  color:white;
  width: 760px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.resources-header{
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.resources-subheader{
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  margin-top:10px;
}

.dashboard-link{
  color:white;
  background-color: rgb(22, 122, 207);
  padding: 8px 10px;
  border-radius: 4px;
  text-decoration: none;
}

.pornstar-list, .link-list{
  list-style: none;
  margin:0;
  margin-top:10px;
  padding:0;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.link-item{
  display:flex;
  flex-wrap: wrap;
}

.demo-list-content{
  margin-top:5px;
}

.pornstar, .link-item{
  padding:0;
}

.link-item a{
  color: #64a4dd;
}

.demo-list-link {
  margin-top:5px;
  color: #64a4dd;
}