.component-container{
  padding:20px;
  padding-bottom:40px;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.header{
  margin:0;
  font-size:32px;
}

.flex-form-container{
  display:flex;
  /*let the row turn into a column when screen gets small*/
  /*flex-wrap: wrap;*/
  flex-direction: column;
  align-items: center;
  max-width:100%;
}

.second-row{
  display:flex;
  max-width:100%;
}

.flex-child-right-side{
  display:flex;
  flex-direction: column;
  margin-left:20px;
  width:400px;
}

.form-container{
  display:flex;
  flex-direction: column;
}

.actor-name-input-container{
  margin-top:10px;
}

.actor-name-input{
  display:block;
  width:100%;
  background-color: rgb(83, 83, 83);
  color: white;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.actor-name-input::placeholder {
  color: white;
  opacity:.5;
}

.actor-name-input:focus {
  outline-style: none;
  border: 1px solid rgb(255, 255, 255)
}

.buttons-and-error-message-container{
  display:flex;
  flex-direction: column;
  align-self:flex-end;
  margin-top:30px;
  width: 400px;
  max-width: 100%;
}

.buttons-container{
  display:flex;
}

.server-error-message{
  color: #F0423C;
  margin-bottom: 10px;
  text-align: center;
}

.add-actor-button-container{
  display: flex;
  justify-content: center;
  margin-left:10px;
}

.add-actor-button{
    background-color: rgb(22, 122, 207);
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    width: 200px;
    height: 40px;
    padding: 8px 10px;
    margin-left:20px;
}

.cancel-button{
  background-color: rgb(99 99 99);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  width: 200px;
  height: 40px;
  padding: 8px 10px;
  text-decoration: none;
  text-align: center;
}

.add-actor-button:disabled{
  opacity:50%;
}

@media only screen and (max-width: 650px) {
  .flex-child-right-side{
    margin-left:0;
  }
}