.header {
  display: block;
  font-size: 26px;
  margin: 10px 0;
  font-weight: 400;
}

.sub-copy {
  display: block;
  font-size: 16px;
}

.success-message {
  padding: 10px 15px;
  background-color: #168916;
  border-radius: 4px;
  margin-top: 10px;
}
