.backdrop {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
}

.modal {
  z-index: 50; /* Sit on top */
  max-width: 100%;
  /*need this for search results to not overflow*/
  position: relative;
  /*
  position: sticky;
  top: 0;
  */
}

.tags-label {
  margin-top: 10px;
  display: block;
}

.selected-tags-container {
  background-color: rgb(48, 48, 48);
  margin-top: 5px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      color: white;
      border-radius: 4px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: rgb(83, 83, 83);
      display: inline-block;
      position: relative;
    }

    li:hover {
      cursor: pointer;
      background-color: rgb(110, 110, 110);
    }

    .selected-tag {
      padding: 5px;
      display: block;
      z-index: 1;
    }
  }
}

.search-input-container {
  display: flex;
  background-color: rgb(83, 83, 83);
  border: 1px solid gray;
  border-radius: 4px;
  width:400px;
  max-width: 100%;
}

.input-active {
  border: 1px solid rgb(255, 255, 255);
}

.search-input {
  width: 80%;
  display: block;
  background-color: rgb(83, 83, 83);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
}

/* Adjust the color and strength of the default placeholder css*/
.search-input::placeholder{
  color:rgba(255, 255, 255, 0.521);
  opacity: 1; /* Firefox */
}

.search-input:focus {
  outline-style: none;
}

.down-button-container {
  display: flex;
  align-items: center;
}

.search-results-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 142px;
  /*new*/
  width:400px;
  max-width: 100%;
  overflow-y: auto;
  background-color: rgb(83, 83, 83);
  /*new*/
  position:absolute;
  z-index: 2;

  li {
    list-style: none;
    color: rgb(255, 255, 255);
  }

  li:hover {
    cursor: pointer;
    background-color: rgb(110, 110, 110);
  }
}

.search-item-container {
  padding: 5px;
}

.search-results-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.search-results-container::-webkit-scrollbar-track {
  background-color: rgb(83, 83, 83);
}
 
/* Handle */
.search-results-container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.search-results-container::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1; 
}

/*new code*/
.checkbox {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}

.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox label {
  width: 100px;
  height: 38px;
  position: relative;
  display: inline-block;
  background-color: rgb(22, 122, 207);
  border-radius: 4px;
  transition: 0.4s;
}

.checkbox label span {
  content: '';
  position: absolute;
  background: #ffffff;
  /* border-radius: 0; */
  border-radius: 4px;
  transition: 0.3s;
  top: 5px;
  left: 4px;
  width: 43px;
  height: 30px;
}

.checkbox input:checked + label span{
  background: #ffffff;
  left: 51px;
}

.checkbox input:checked + label:after {
  color: black;
}
.checkbox input:checked + label:before {
  color: rgb(255, 255, 255);
}

.checkbox label:after, .checkbox label:before {
  font-family: FontAwesome;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.checkbox label:after, .checkbox label:before {
  content: 'Name';
  position: absolute;
  right: 9px;
  top: 11px;
  /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  /*font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';*/
  font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';
  font-size: 14px;
  color: #ffffff;
}

.checkbox label:before {
  content: 'Tags';
  left: -40px;
  z-index: 1;
  color: #000000;
}