.middle-container{
  display:flex;
  align-items: center;
}

.header{
  text-decoration: none;
  color: inherit;
}

.tag-manager, .add-pornstar{
  background-color: rgb(22 122 207);
  padding: 8px 10px;
  border:none;
  font-size:16px;
  border-radius: 4px;
}

.tag-manager{
  margin-right:25px;
}

.add-pornstar{
  margin-left:25px;
}