.pornstar-tile-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 83, 83);
  /*width:300px;*/
  max-width: 100%;;
  /*remove underline for link*/
  text-decoration: none;
  margin:8px;
  border-radius:8px;
}

.pornstar-tile-bottom-container{
  padding:10px 15px;
  color:white;
  /*match the picture and for overflow of name*/
  max-width: 100%;
  /*match the picture and for overflow of name*/
    width: 320px;
}

.pornstar-name{
  font-size: 26px;
  margin:0;
  padding-bottom:5px;
  text-transform:capitalize;
}

.pornstar-tags-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.pornstar-tags-list-item{
  background-color: #676767;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right:10px;
    margin-bottom:5px;
    padding: 10px 10px;
    text-transform: capitalize;
}

.user-uploaded-picture, .silhouette-picture{
  object-fit: cover;
  max-width:100%;
  /*width:320px;*/
  aspect-ratio:2/3;
  border-radius: 8px;
}

.shufflePornstarContainer{
  border: rgb(22, 122, 207) 2px solid;
}

@media only screen and (max-width: 460px) {
  .user-uploaded-picture, .silhouette-picture{
    width:100%;
    height:auto;
  }

  .pornstar-tile-container{
    width:100%;
    margin:8px 0;
  }
  
  .pornstar-tile-bottom-container{
    /*match the picture and for overflow of name*/
    max-width: 400px;
      width: 100%;
  }
}