.website-icon {
  height: 100%;
}

.header {
  display: block;
  font-size: 30px;
  padding: 10px 20px;
  padding-top: 20px;
  margin: 0;
  text-align: center;
}

.forgot-password-link-container {
  position: relative;
  padding-bottom: 10px;
  align-self: flex-end;
}

.new-account-link-container {
  padding: 10px 20px;
}

.forgot-password-link,
.new-account-link {
  color: white;
}

@media only screen and (max-width: 768px) {
  /*gets rid of the scroll for url bar on iphone*/
  .login-body {
    min-height: 90vh;
  }
}
