.component-container{
  padding: 20px 30px;
  padding-top:35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-form-container{
  display:flex;
  /*let the row turn into a column when screen gets small*/
  flex-wrap: wrap;
  max-width: 100%;
}

.flex-child-right-side{
  display:flex;
  flex-direction: column;
  margin-left:30px;
  width:500px;
}

.header-container{
  display:flex;
  justify-content: space-between;
}

.pornstar-name{
  font-size:28px;
  margin:0;
  text-transform: capitalize;
}

.buttons-container{
  display:flex;
}

.form-container{
  display:flex;
  flex-direction: column;
}

.pornstar-name-input-container{
  margin-top:10px;
}

.pornstar-tags-list{
  list-style: none;
    margin: 0;
    margin-top:20px;
    padding: 0;
}

.pornstar-tags-list-item{
  background-color: #676767;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px 10px;
    text-transform: capitalize;
}


.edit-button, .delete-button{
  background-color: rgb(70, 70, 70);
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    width: 100px;
    height: 40px;
}

.edit-button{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

.delete-button{
  margin-left:10px;
  background-color: rgb(201 60 60);
  border: 1px solid rgb(201 60 60);;
}

.pornstar-links-container{
  margin-top:20px;
}

.links-header{
  font-size:24px;
}

.pornstar-links-list{
  display:flex;
  flex-direction: column;
  list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.pornstar-links-list-item{
  background-color: #555555;
  border-radius: 4px;
  margin-top:10px;
  padding:10px;
}

.link-title{
  display:block;
  margin-bottom:5px;
}

.website-link{
  color:white;
  word-wrap: break-word;
}

.user-image ,.silhouette-image{
  object-fit: cover;
  border-radius: 8px;
}

.view-pornstar-loading{
  display:flex;
  justify-content: center;
}

.view-pornstar-error-container{
display: flex;
justify-content: center;
}

.view-pornstar-error{
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #c11010;
  border-radius: 4px;
}

@media only screen and (max-width: 910px) {
  .flex-child-right-side{
    margin-left:0;
    width:100%;
  }

  .header-container{
    flex-direction: column;
  }

  .buttons-container{
    margin-top:20px;
  }

  .component-container{
    padding-top:20px;
    /* just so phone users have more padding at bottom of page */
    padding-bottom:50px;
  }

  .user-image, .silhouette-image{
    margin-top:20px;
  }
  
}

@media only screen and (max-width: 500px) {
  .user-image, .silhouette-image{
    /*stretches image to max size for screen size */
    width:400px;
    /*biggest width for iphone SE or 375px and above*/
  
    //width:320px;
    max-width: 100%;
    height:auto;

  }

}