.demo-list-body{
  padding: 0px 20px;
  padding-top:20px;
  padding-bottom: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.header{
  margin:0;
}

.explain-message, .find-pornstars-message-bottom{
  font-size:20px;
  margin-top: 3px;
}

.find-pornstars-message {
  font-size: 28px;
  margin-top:5px;
}

.affiliate-link {
  color: #64a4dd;
}

.pornstar-tiles-container{
  /*
 display:grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  Maximum of 5 columns, each with a minimum width of 100px 
 grid-template-columns: repeat(auto-fit,300px);
 gap: 15px;  Adjust the gap between grid items as needed 
 */
 display:flex;
 flex-wrap:wrap;
 justify-content: center;
 width:1800px;
 max-width:100%;
 margin-top:20px;
}

.bottom-demo-list-message{
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

.bottom-demo-list-cta{
  margin-top: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .explain-message, .find-pornstars-message-bottom{
    font-size:16px;
    align-self: flex-start;
  }

  .find-pornstars-message {
    font-size: 24px;
    margin-top:5px;
  }

  .find-pornstars-message-bottom{
    margin-top:3px;
  }
}