.component-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    max-width: 100%;
    /* for the success popup */
    position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 400px;
  max-width: 100%;
}

.modal-title {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  text-align: center;
}

.add-tag-button {
  background-color: rgb(22, 122, 207);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  width: 115px;
  height: 40px;
  padding: 8px 10px;
  margin-left: 20px;
}

/* Tag css                */
.tags-label {
  margin-top: 10px;
  display: block;
}

.search-input-container {
  display: flex;
  margin-top: 20px;
  background-color: rgb(83, 83, 83);
  border: 1px solid gray;
  border-radius: 4px;
  width: 400px;
  max-width: 100%;
}

.input-active {
  border: 1px solid rgb(255, 255, 255);
}

.search-input {
  width: 100%;
  display: block;
  background-color: rgb(83, 83, 83);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.search-input:focus {
  outline-style: none;
}

.search-input::placeholder {
  color: white;
  opacity:.5;
}

.down-button-container {
  display: flex;
  align-items: center;
}

.search-results-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(83, 83, 83);
  width: 400px;
  max-width: 100%;
  text-transform: capitalize;

  li {
    list-style: none;
    color: rgb(255, 255, 255);
  }
}

.search-item-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: rgb(119 119 119);
  border-style: solid;
  border-width: 1px;
}

.search-item{
  font-weight:550;
}

.number-of-pornstars {
  font-size:14px;
  text-transform: lowercase;
}

/* keep contaienr from shirnking if user put very long tag*/
.buttons-container{
  display:flex;
  width:64px;
}

.search-results-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.search-results-container::-webkit-scrollbar-track {
  background-color: rgb(83, 83, 83);
}

/* Handle */
.search-results-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.search-results-container::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

.edit-button,
.delete-button {
  background-color: inherit;
  border: none;
}

.tag-manager-loading{
  display:flex;
  justify-content: center;
}
