.desktop-homepage-header{
  font-size:40px;
  margin-top:10px;
  margin-bottom:15px;
}

.video-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin-top: 20px;
}

.hero-content-container{
  width:40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.video-body-container {
  width: 60%;
  margin-left: 60px;
  max-width: 750px;
  border: 1px solid rgb(173, 173, 173);
    border-radius: 8px;
}

.affiliate-banner-link {
  flex: 1;
  margin: 0 40px;
  border: none;
  max-width: 160px;
}

.mobile-homepage-header{
  display:none;
  }


.mobile-affiliate-banner-link {
  display: none;
}

.affiliate-banner-link:nth-of-type(1) {
  text-align: right;
}

.affiliate-banner-image {
  max-width: 160px;
  width: 100%;
  height: auto;
  max-height: 562px;
  border: none;
  border-radius: 8px;
}

/*
.hero-video{
  width:100%;
  height:auto;
  border-radius: 12px;
  display:none;
}
  */
  .hero-ctas-container{
    display: flex;
    width: 100%;
  }

  .introduction-body-content{
    font-size:20px;
  }

  .hero-create-your-list-cta {
    align-self: center;
    font-size:20px;
    margin-top: 20px;
    margin-left:30px;
  }

  .hero-view-demo-list-cta{
    text-decoration: none;
    color:inherit;
    padding: 8px 10px;
    border-radius:4px;
    background-color: rgb(32 135 49);;
    align-self: center;
    margin-top:20px;
    font-size:20px;
}

.video-body-container #vjs_video_671 {
  border-radius: 12px;
}

@media only screen and (max-width: 1060px) {
  .video-section-container {
    flex-direction:column;
    align-items:center;
    margin-top:10px;
  }

  .desktop-homepage-header{
  display:none;
  }

    .mobile-homepage-header{
  display:block;
  margin-bottom:0;
  margin-top:10px;
  font-size:38px;
  }

  .introduction-body-content{
  margin-top:10px;
  font-size:18px;
  }


  .video-body-container {
    margin-left:0;
    width:100%;
  }

  .hero-content-container{
    width:100%;
    max-width:400px;
    order:2;
  }

  .affiliate-banner-link {
    display: none;
  }

  .mobile-affiliate-banner-link {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
  }
  .mobile-affiliate-banner-image {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 550px) {
  .mobile-homepage-header{
    font-size:36px;
  }

  .hero-ctas-container{
    justify-content:center;
  }

  .hero-ctas-container a{
    font-size:16px;
  }
  
}

@media only screen and (max-width: 510px) {
  .mobile-homepage-header{
    font-size:29px;
  }
}

@media only screen and (max-width: 420px) {
  .mobile-homepage-header{
    font-size:27px;
  }
}

@media only screen and (max-width: 400px) {
  .mobile-homepage-header{
    font-size:26px;
  }
}

@media only screen and (max-width: 385px) {
  .mobile-homepage-header{
    font-size:25px;
  }
}

