.video-body-container{
    max-width: 1000px;
    width:100%;
    margin:auto;
    margin-top:30px;
    justify-content: center;
}

/*
.hero-video{
  width:100%;
  height:auto;
  border-radius: 12px;
  display:none;
}
  */

  .video-body-container #vjs_video_671 {
    border-radius: 12px;
  }

