/*Need to make all of this collapse on mobile, or make it mobile first and turn into row on big screen.*/
.introduction-body-container {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  margin-top: 40px;
  /*padding:25px;*/
  width: 100%;
  max-width: 1200px;
}

.dashboard-image-container{
  display:flex;
  align-items: center;
  flex:1;
}

.right-side-container {
  color: white;
  width:100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex:1;
  margin-left:30px;
}

.image-icon, .tag-icon, .link-icon {
  width:50px;
  height:100%;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.introduction-body-title {
  margin: 0;
	font-size:29px;
  font-size:27px;
}

.introduction-body-content{
	margin-top:10px;
  /*same as header*/
  max-width:439px;

}

.introduction-cta {
  align-self: center;
  margin-top: 20px;
}

.dashboard-image{
  border: 1px solid rgb(173 173 173);
  border-radius: 12px;
  height: auto;
    width: 100%;
    max-width: 600px;
}

.feature-list{
  color: white;
  height:100%;
  align-items: flex-start;

	margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.feature {
  margin: 22px 0;
	font-size:20px;
  list-style: none;
  display:flex;
}

.feature-copy-container{
  margin-left:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.feature-title{
  margin:0;
  font-size:24px;
}

.feature-content{
  font-size:16px;
}

@media only screen and (max-width: 1000px) {
  .introduction-body-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
  }

  .dashboard-image-link {
    margin-top:10px;
    order:2;
  }

  .content-container{
    /*so the space-between can add the space*/
    height:201px;
  }
}
