.blue-link-button {
  //background-color: rgb(22, 122, 207);
  background-color: rgb(24 119 201);
  padding: 8px 10px;
  border: none;
  /*font-size: 16px;*/
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.blue-link-button:hover {
  background-color: rgb(39 129 207);
}

/*Keep the border red even as the user goes back to it*/
.invalid-input-border,
.invalid-input-border:focus {
  border: 1px solid #f0423c;
}

.invalid-message {
  display: block;
  margin-top: 2px;
  color: #f0423c;
}
